.App {
  text-align: center;
  background: rgb(34, 212, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 212, 195, 1) 0%,
    rgba(34, 211, 212, 0.8858893899356618) 35%,
    rgba(237, 66, 211, 0.7430322470785189) 100%
  );
  height: 750px;
  margin: 0 auto;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
} */

.follower {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;
  border-radius: 10px;
}
.follower p {
  display: flex;
  flex-direction: column;
}
.pop {
  background: lightblue;
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 20px;
}
.head {
  background: white;
  opacity: 50%;
}
.footer {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.img {
  display: flex;
}
.git {
  position: absolute;
  width: 80px;
  left: 1400px;
  top: 600px;
}
